
    <div class="col-md-3">
        <h1>Buckets</h1>
            <div id="bucketsArea">
                <div class="list-group">
                    {{#each controller}}
                        {{#linkTo "bucket" this classNames="list-group-item"}}
                            {{view LDBB.BucketListView contentBinding="this"}}
                        {{/linkTo}}
                    {{/each}}
                </div>
            </div>
    </div>
    <div class="col-md-9">
        {{outlet}}
    </div>