{{#if controllers.user.isLoggedIn}}
    <div class="col-md-3">
        <h1>Buckets</h1>
            <div id="bucketsArea">
                <div class="list-group">
                    {{#each controller}}
                        {{#linkTo "bucket" this classNames="list-group-item"}}
                            {{view LDBB.BucketListView contentBinding="this"}}
                        {{/linkTo}}
                    {{/each}}
                </div>
            </div>
    </div>
    <div class="col-md-9">
        {{outlet}}
    </div>
{{else}}
    <div class="loginBox well">
        <h1>LevelDBrowser</h1>
        <p>In order to access LevelDB you must be logged in!</p>
    </div>
{{/if}}